.header {
  width: 100%;
  margin-bottom: 11rem;
  &__logo {
    margin-bottom: 6.1rem;
    @include respond(tab-land) {
      margin-bottom: 5.4rem;
    }
  }
  & .hero {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.7rem;
    @include respond(tab-land) {
      flex-direction: column;
    }

    &__images--mobile {
      display: none;
      @include respond(tab-land) {
        display: block;
      }
    }
    &__images--desktop {
      display: block;
      position: absolute;
      top: 0;
      &-left {
        left: 0;

        @include respond(desktop) {
          left: -1.5%;
        }
      }
      &-right {
        right: 0;
        margin-top: 5.5rem;

        @include respond(desktop) {
          right: -1.5%;
        }
      }
      @include respond(tab-land) {
        display: none;
      }
    }
    img {
      @include respond(tab-land) {
        width: 100%;
      }
      max-inline-size: 100%;
      block-size: auto;
      object-fit: contain;
    }
    &__heading {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: min(43rem, 100%);
      margin: 4.7rem auto 0;
      &__main {
        margin-bottom: 3.4rem;
        @include respond(tab-land) {
          margin-bottom: 2.4rem;
        }
      }
      &__intro {
        margin-bottom: 3.2rem;
        @include respond(phone) {
          width: min(32.7rem, 70%);
          line-height: 2.6rem;
        }
      }
      &__btngrp {
        display: flex;
        gap: 1.6rem;
        @include respond(phone) {
          flex-direction: column;
        }
      }
    }
  }
}
