@charset "UTF-8";
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
:root {
  --color-dark-charcoal: #28283d;
  --color-dark-grey: #87879d;
  --color-dark-green: #4d96a9;
  --color-light-green: #71c0d4;
  --color-dark-purple: #855fb1;
  --color-light-purple: #b18bdd;
  --color-light-purple2: #d9b8ff;
  --color-light-blue: #8fe3f9;
  --color-pure-white: #ffffff;
  --color-footer: #fafafa;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100dvh;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
  cursor: auto; /* or pointer if you want to keep the default hand cursor */
}

/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
/** 

	100 : Thin
	•	200 : Extra Light (Ultra Light)
	•	300 : Light
	•	400 : Normal
	•	500 : Medium
	•	600 : Semi Bold (Demi Bold)
	•	700 : Bold
	•	800 : Extra Bold (Ultra Bold)
	•	900 : Black (Heavy)

  */
body {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-size: clamp(1.3rem, 1.5vw, 1.8rem);
  font-weight: 500;
  line-height: 2.6rem;
  color: var(--color-dark-grey);
  background-color: #fafafa;
  text-align: center;
}

.ft-primary-heading {
  color: var(--color-dark-charcoal);
  font-weight: 900;
  font-size: clamp(5.9rem, 1.5vw, 6.4rem);
  line-height: 6.4rem;
}
@media only screen and (max-width: 37.5em) {
  .ft-primary-heading {
    font-size: clamp(3.5rem, 1.5vw, 4rem);
    line-height: 4.4rem;
  }
}

.ft-secondary-heading {
  color: var(--color-dark-charcoal);
  font-weight: 900;
  font-size: clamp(4rem, 1.5vw, 4.5rem);
  line-height: 4.4rem;
}

.ft-tertiary-heading {
  color: var(--color-dark-green);
  font-weight: 900;
  font-size: clamp(1.1rem, 1.5vw, 1.6rem);
  line-height: 2.6rem;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.centered-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered-div2 {
  margin: 0 auto;
  max-width: 50%;
  text-align: center;
}

.centered-div3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.container {
  width: min(144rem, 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  margin: 8rem auto 0;
}
@media only screen and (max-width: 77.5em) {
  .container {
    margin: 5.1rem auto 0;
  }
}

.cl-cyan {
  color: var(--color-light-blue);
}

.cl-purple {
  color: var(--color-light-purple2);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}
@media only screen and (max-width: 37.5em) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.header {
  width: 100%;
  margin-bottom: 11rem;
}
.header__logo {
  margin-bottom: 6.1rem;
}
@media only screen and (max-width: 77.5em) {
  .header__logo {
    margin-bottom: 5.4rem;
  }
}
.header .hero {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.7rem;
}
@media only screen and (max-width: 77.5em) {
  .header .hero {
    flex-direction: column;
  }
}
.header .hero__images--mobile {
  display: none;
}
@media only screen and (max-width: 77.5em) {
  .header .hero__images--mobile {
    display: block;
  }
}
.header .hero__images--desktop {
  display: block;
  position: absolute;
  top: 0;
}
.header .hero__images--desktop-left {
  left: 0;
}
@media only screen and (max-width: 90em) {
  .header .hero__images--desktop-left {
    left: -1.5%;
  }
}
.header .hero__images--desktop-right {
  right: 0;
  margin-top: 5.5rem;
}
@media only screen and (max-width: 90em) {
  .header .hero__images--desktop-right {
    right: -1.5%;
  }
}
@media only screen and (max-width: 77.5em) {
  .header .hero__images--desktop {
    display: none;
  }
}
.header .hero img {
  max-inline-size: 100%;
  block-size: auto;
  object-fit: contain;
}
@media only screen and (max-width: 77.5em) {
  .header .hero img {
    width: 100%;
  }
}
.header .hero__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min(43rem, 100%);
  margin: 4.7rem auto 0;
}
.header .hero__heading__main {
  margin-bottom: 3.4rem;
}
@media only screen and (max-width: 77.5em) {
  .header .hero__heading__main {
    margin-bottom: 2.4rem;
  }
}
.header .hero__heading__intro {
  margin-bottom: 3.2rem;
}
@media only screen and (max-width: 37.5em) {
  .header .hero__heading__intro {
    width: min(32.7rem, 70%);
    line-height: 2.6rem;
  }
}
.header .hero__heading__btngrp {
  display: flex;
  gap: 1.6rem;
}
@media only screen and (max-width: 37.5em) {
  .header .hero__heading__btngrp {
    flex-direction: column;
  }
}

.footer {
  text-align: start;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 11.6rem 16.5rem 10.4rem;
  background-image: url("../../assets/desktop/image-footer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--color-footer);
}
@media only screen and (max-width: 37.5em) {
  .footer {
    text-align: center;
    flex-direction: column;
    padding: 9.2rem 2.4rem 7.2rem;
  }
}
.footer__title, .footer__txt, .footer__btn {
  z-index: 1;
}
.footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-dark-green);
  opacity: 0.8;
  pointer-events: none;
  z-index: 0;
}
.footer__title, .footer__txt {
  width: min(35rem, 100%);
}
.footer__title {
  color: var(--color-footer);
}
@media only screen and (max-width: 37.5em) {
  .footer__title {
    width: 80%;
    font-size: clamp(2.7rem, 1.5vw, 3.2rem);
    margin-bottom: 2.4rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .footer__txt {
    width: 70%;
    margin-bottom: 3.2rem;
  }
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  border-radius: 50px;
  color: var(--color-pure-white);
  padding: 1.6rem 3rem;
  font-weight: 900;
  font-size: 1.6rem;
  border: none;
  text-decoration: none;
  white-space: nowrap;
  transition: background-color 0.3s ease;
}
.btn:hover {
  cursor: pointer;
}
.btn__green {
  background-color: var(--color-dark-green);
}
.btn__green:hover {
  background-color: var(--color-light-green);
}
.btn__purple {
  background-color: var(--color-dark-purple);
}
.btn__purple:hover {
  background-color: var(--color-light-purple);
}

.number {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.number-above {
  position: relative;
  transform: translateY(2.5rem);
  z-index: 3;
}
.number__line {
  display: inline-block;
  width: 1px;
  height: 8.4rem;
  border-left: 1px solid rgba(135, 135, 157, 0.25);
}
.number__item {
  width: 5.6rem;
  height: 5.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1.625rem;
  background-color: var(--color-footer);
  border: 1px solid rgba(135, 135, 157, 0.25);
  padding: 1.5rem 1.9rem;
  border-radius: 50%;
}

.gallery {
  margin: 6.4rem auto 0;
  width: min(111rem, 80%);
  text-align: center;
}
.gallery img {
  max-inline-size: 100%;
  block-size: auto;
  object-fit: contain;
}

.content {
  width: min(54rem, 100%);
  margin: 8.2rem auto 4rem;
  text-align: center;
}
@media only screen and (max-width: 37.5em) {
  .content {
    margin: 6rem auto 6.4rem;
  }
}
.content__intro {
  margin: 0 auto 1.6rem;
}
.content__title {
  max-width: 80%;
  margin: 0 auto 3.2rem;
}
.content__txt {
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */
