.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  border-radius: 50px;
  color: var(--color-pure-white);
  padding: 1.6rem 3rem;
  font-weight: 900;
  font-size: 1.6rem;
  border: none;
  text-decoration: none;
  &__green-default {
    background-color: var(--color-dark-green);
  }
  &__green-activ {
    background-color: var(--color-light-green);
  }
  &__purple-default {
    background-color: var(--color-dark-purple);
  }
  &__purple-activ {
    background-color: var(--color-light-purple);
  }
}
